<section class="card">
  <a href="/blogs/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <p>content: {{content}}</p>
      <p>username: {{User.userName}}</p>
    </div>
  </a>
</section>