<p class="tag-box">Create Blog</p>
</header>
<form class="create-form">
    <section class="card">
        <div class="card-body">
            <textarea name="content-part" id="comment" placeholder="comment here"></textarea>
        </div>
    </section>
    <button class="submit btn" type="submit">submit</button>
</form>
<script src="/js/createcomm.js"></script>