<p class="tag-box">Create Blog</p>
</header>
<form class="create-form">
    <section class="card">
        <input type="text" class="create-head" id="title" placeholder="title">
        <div class="card-body">
            <textarea name="content-part" id="content" placeholder="content here"></textarea>
        </div>
    </section>
    <button class="submit btn" type="submit">submit</button>
</form>
<script src="/js/create.js"></script>