  <p class="tag-box">Login</p>
</header>
<main class="login-box">
  <h2 class="login-header">Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="userName-login">username:</label>
      <input class="form-input" type="text" id="userName-login" />
    </div>
    <div class="form-group">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
    <a class="sign-log" href="/create">sign up instead</a>
  </form>
  <div>
  </div>
</main>
<script src="js/login.js"></script>