<header>
  <ul class="tabs">
    <li class="tab-element"><a href="/">Home</a></li>
    <li class="tab-element"><a href="/dashboard">Dashboard</a></li>
    <li class="tab-element"><a href="/login">Login</a></li>
    <li class="tab-element"><a href="/">logout</a></li>
  </ul>
  <p class="tag-box">Login Page</p>
</header>
<main class="login-box">
  <h2 class="login-header">Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="userName-login">username:</label>
      <input class="form-input" type="text" id="userName-login" />
    </div>
    <div class="form-group">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
    <a class="sign-log" href="/create">sign up instead</a>
  </form>
  <div>
  </div>
</main>
<script src="js/login.js"></script>
<script src="js/logout.js"></script>
