<header>
    <ul class="tabs">
        <li class="tab-element"><a href="/home/login">Home</a></li>
        <li class="tab-element"><a href="/dashboard/login">Dashboard</a></li>
        <li class="tab-element"><a href="/">logout</a></li>
    </ul>
    <p class="tag-box">Welcome!</p>
</header>
    <p>after login home</p>

<script src="js/logout.js"></script>
